PyPDF2
gpt4all
python-dotenv
faiss-cpu
altair
tiktoken
langchain
openai
python-dotenv
streamlit
llama-cpp-python
streamlit_chat
streamlit_extras
pymupdf
sentence_transformers
requests 
streamlit
mistralai
langchain-mistralai 
python-dotenv
langchain-google-genai
pandas
plotly
streamlit-plotly-events
